
  .dataTables_wrapper .dt-button {
    font-size: 12px !important;  
  }

  .dataTables_filter input { font-size: 11px;margin-right: 20px;padding:2px; }

  td a{
    text-decoration:none;
    color: black;
  }

  a:hover{
    text-decoration:none;
  }

